<%= image_tag 'ice-pick.png', alt: 'Ice Pick', id: 'img-welcome' %>

<h1>Who Breaks the Ice?</h1>

<h2><%= @current_pick.who_goes_first %></h2>

<%= button_to 'Generate Random Pick', "/picks/#{@random_pick.id}", method: :get %>
