/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* typography */

a {
 border-bottom: 2px solid #c5c5c5;
 color: deepskyblue;
 text-decoration: none;
 transition: all 0.3s;
}

a:hover {
 color: #1565C0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

html {
  font-family: sans-serif;
  text-align: center;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: aliceblue;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul li {
 line-height: 1.6em;
}

/* classes */

.side-margins {
 padding-right: 1.5rem!important;
 padding-left: 1.5rem!important;
}

.navigation {
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-start;
 list-style: none;
 margin: 0;
 background: deepskyblue;
}

.navigation a {
 text-decoration: none;
 display: block;
 padding: 1em;
 color: white;
 border: none;
}

.navigation a:hover {
 background: #1565C0;
}

.alert {
 position: relative;
 padding: .75rem 1.25rem;
 margin-bottom: 1rem;
 border: 1px solid transparent;
 border-radius: .25rem;
}

.alert-danger {
 color: #721c24;
 background-color: #f8d7da;
 border-color: #f5c6cb;
}

.container {
 display: inline-flex;
 justify-content: center;
 align-items: center;
}

.content {
 padding: 2em 3em;
 margin: auto;
 max-width: 1200px;
}

.indent {
 margin-left: 2em;
}

.item-button {
 margin-right: 0.5em;
}

.item-title {
 margin-right: 0.5em;
 width: 200px;
}

.line {
 border-bottom: 2px solid #c5c5c5;
 margin-bottom: 2em;
}

.record {
 margin-bottom: 3em;
}

/* header */

.logo-container {
 display: flex;
 width: 100%;
 justify-content: flex-start;
 align-items: center;
}

#logo-text {
  padding: 12px;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo-text:hover {
  color: #fff;
  text-decoration: none;
}

#img-header {
  height: 20px;
  margin: 0 0.75em;
  padding: 0.5em;
  border-bottom: 1px solid darkgray;
  border-radius: 4px;
  background-color: aliceblue;
}

/* submit button */

input[type=submit] {
  background-color: deepskyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1em 0;
  font-size: 1.1em;
  line-height: 1.7em;
}

input[type=submit]:hover {
  background-color: dodgerblue;
}

/* pick */

.pick {
  background-color: snow;
  padding: 0.5em 2em;
  border-style: solid;
  border-color: darkgray;
  border-width: 2px;
  border-radius: 4px;
}

/* welcome logo */

#img-welcome {
  height: 150px;
  margin-top: 2em;
}
