<header class='navigation'>
  <div class='logo-container'>
    <%= image_tag 'ice-pick.png', alt: 'Ice Pick', id: 'img-header' %>
    <%= link_to 'IcePicker', '/', id: 'logo-text' %>
  </div>
</header>
